{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script src="{% static 'mobile.js' %}"></script>
{% endblock %}

{% block nav-sidebar %}
    <div id="custom-sidebar-div">
        <!-- Sidebar Toggle Button -->
        <button class="custom-sidebar-toggle" onclick="toggleCustomSidebar()">☰</button>
        <!-- Custom Sidebar -->
        <div id="custom-sidebar" style="display: none;">
            <ul>
                {% for app in app_list %}
                    {% if app.name == _("Dashboard") %}
                        <li class="app-label" style="margin-top: 50px;">
                            <span onclick="toggleApp('{{ app.name }}')">{{ app.name }}</span>
                            <ul id="app-{{ app.name }}" class="model-links" style="display: block;">
                                {% for model in app.models %}
                                <li>
                                    <a href="{{ model.admin_url }}">
                                        <i class="fa fa-database"></i> {{ model.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block usertools %}
    <div id="too">
        {{ block.super }}  <!-- Keep Django's default user tools -->
    </div>
    <!-- Language Switcher Form -->
    <form action="{% url 'set_language' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">

        <select name="language" class="language-selector" onchange="this.form.submit()">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            
            {% for lang in languages %}
                <option value="{{ lang.code }}" {% if lang.code == CURRENT_LANGUAGE %}selected{% endif %}>
                    {{ lang.name_local }}  <!-- Displays 'Français' instead of 'French' -->
                </option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block extrastyle %}
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mobile.css' %}">
{% endblock %}

